* {
	-webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
img {
	max-width: 100%;
	width: 100%;
}
body {
	margin: 0;
	font-family: 'Vollkorn', serif;
	/*background: linear-gradient(
      rgba(47,89,120, .8),
      rgba(47,89,120, .8)
    ), url(../_images/pixel-weave.png);*/
	display: flex;
	flex-wrap: wrap;
	overflow-x: hidden;
}
main {
	overflow: hidden;
}
h2 {
	border-bottom: 2px solid #3a414c;
  text-align: center;
  font-size: 2.4rem;
  margin: 1rem 2rem .6rem;
  color: #3a414c;
}
h3 {
	font-size: 2rem;
	line-height: 1;
	margin-top: 2.4rem;
	border-bottom: 2px solid #e9e8e4;
	border-top: 2px solid #e9e8e4;
	padding: .6rem 0 .4rem;
	text-align: center;
}
h4 {
	font-size: 1.4rem;
	line-height: 1;
	margin-top: 1.4rem;
}
h4::before {
	content: "\025AA";
	padding-right: .4rem;
}
article p {
	margin-top: 1rem;
	font-size: 1.2rem;
}
button, input[type="submit"] {
	background-color: #e9ca52;
  border-radius: 20px;
  border: 3px solid #3a414c;
  font-size: 1.6rem;
  padding: .8rem 1rem;
  font-family: 'Vollkorn', serif;
  font-weight: bold;
	color: #3a414c;
	margin: 1rem;
	line-height: 1;
}
button:hover, input[type="submit"]:hover {
	background-color: #ecd16b;
  border: 3px dashed #3a414c;
}

main {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
main > div, main > iframe {
	flex: 1;
	flex-basis: 33.333%;
}
#site-header {
	display: flex;
	position: absolute;
  width: 100%;
}
#site-header .logo {
	flex-basis: 20%;
	margin-top: 1rem;
}
#site-header nav {
	border-bottom: 2px solid #e9e8e4;
	display: flex;
  justify-content: flex-end;
	align-items: center;
	flex: 1;
}
#site-header > div {
	width: 100%;
	display: flex;
	margin: 0 2rem;
}
#site-header ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	-webkit-padding-start: 0;
	margin: 1rem 0;
}
#site-header ul a, #site-header ul a:visited {
	font-size: 1.2rem;
	color: #e9e8e4;
	text-decoration: none;
	font-weight: bold;
}
#site-header ul li {
	padding: .4rem;
	min-width: 5rem;
	max-width: 8rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
  line-height: 1;
	text-align: center;
	border-radius: 20px;
}
#site-header ul li:hover a {
	color: #3a414c;
}
#site-header ul li:hover {
	background-color: #e9ca52;
}
#site-header .current {
	color: #e9ca52;
}
.logo-link {
	display: flex;
}
h1 {
	text-align: center;
	color: #e9e8e4;
	font-size: 4rem;
	max-width: 40rem;
	line-height: 1;
	margin: 1rem 2rem;
}
.sub-title {
	color: #e9e8e4;
	border-top: 2px solid #e9ca52;
	margin-top: .6rem;
	padding-top: .8rem;
	display: block;
	font-size: 1.8rem;
	font-weight: normal;
	line-height: 1.1;
	max-width: 40rem;
	text-align: center;
}
.reference {
	color: #e9e8e4;
	margin-top: .6rem;
	display: block;
	font-size: 1.4rem;
}
#hero {
	flex-basis: 100%;
	min-height: 100vh;
  background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#hero h1 {
	margin-top: 120px;
}
.overlay {
  position: absolute;
  right: 0;
  bottom: 0;
  width: auto;
  margin: 2rem;
  padding: 1rem;
  text-align: center;
  background-color: rgba(233,232,228,.8);
  color: #3a414c;
  border-radius: 3px;
}
.overlay p {
	max-width: 20rem;
  margin-top: .8rem;
  font-size: 1.2rem;
  margin-bottom: .8rem;
}
.overlay strong {
	font-size: 2rem;
	line-height: 1.15;
}

.info {
	display: flex;
	flex-wrap: wrap;
}
.info-box:nth-of-type(1) h2, .info-box:nth-of-type(3) h2 {
	color: #e9e8e4;
	border-bottom-color: #e9e8e4;
}
.info-box {
	flex: 1;
}
.info-box-content {
	padding: 2rem;
	text-align: center;
	display: block; 
}
.info-box:nth-of-type(1), #panel1 {
	background: linear-gradient(
		rgba(32,152,183, .9),
		rgba(32,152,183, .9)
		);
	color: #e9e8e4;
}
.info-box:nth-of-type(2), #panel2 {
	background: linear-gradient(
		rgba(233, 202, 82, .9),
		rgba(233, 202, 82, .9)
		);
	color: #3a414c;
}
.info-box:nth-of-type(2) h3, #panel2 h3 {
	border-bottom: 2px solid #3a414c;
	border-top: 2px solid #3a414c;
}
.info-box:nth-of-type(3), #panel3 {
	background: linear-gradient(
		rgba(153, 41, 233, .9),
		rgba(153, 41, 233, .9)
		);
	color: #e9e8e4;
}
#panel1 h2, #panel3 h2 {
	color: #e9e8e4;
}
.panel h2 {
	border-bottom: transparent;
}

#home .info-box:nth-of-type(1) {
	background: linear-gradient(
		rgba(32,152,183, .85),
		rgba(32,152,183, .9)
		), url('../_images/hands.jpg');
	background-size: cover;
	background-position: center;
	flex: 1;
  flex-basis: 66.6667%;
}
#home .info-box:nth-of-type(2) {
	background: linear-gradient(
		rgba(233, 202, 82, .85),
		rgba(233, 202, 82, .9)
		), url('../_images/greet.jpg');
	background-size: cover;
	background-position: center;
	flex-basis: 33.3334%;
}
#home .info-box:nth-of-type(3) {
	background: linear-gradient(
		rgba(153, 41, 233, .85),
		rgba(153, 41, 233, .9)
		), url('../_images/worship.jpg');
	background-size: cover;
	background-position: center;
}

.info-box p {
	font-size: 1.2rem;
}
.info h2 {
	margin-left: 0;
	margin-right: 0;
}
ul.info {
	list-style: none;
	padding: 0;
	flex-basis: 100%;
}
.panel {
	flex-basis: 100%;
	padding: 1rem 2rem;
}
.panel article, .panel iframe, .panel form, .panel table {
	max-width: 40rem;
	margin: 0 auto;
}
.panel h2 {
	display: none;
}
.panel a, .info-box-content a, #panel2.panel a {
	box-shadow: inset 0 -10px 0 rgba(32,152,183, .7);
	color: black;
	text-decoration: none;
}
.panel a:hover, .info-box-content a:hover, #panel2.panel a:hover {
	background-color: rgba(32,152,183, .7);
}
#panel1.panel a {
	box-shadow: inset 0 -10px 0 	rgba(233, 202, 82, .9);
	color: #e9e8e4;
}
#panel1.panel a:hover {
	background-color: rgba(233, 202, 82, .9);
}

#services {
	flex-basis: 100%;
	background-color: #e9e8e4;
}
#services table {
	width: 100%;
	margin-bottom: 4rem;
	margin-top: 3rem;
}
#services tbody {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
#services tr {
	margin: 1rem 2rem;
  flex: 1;
}
#services td {
	display: block;
	color: #3a414c;
	text-align: center;
}
#services td > div {
  width: 100%;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('../_images/circle.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#services p {
	width: 80%;
	max-width: 16rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: .6rem;
	font-size: 1.2rem;
  line-height: 1.2;
}
#services h3 {
	font-size: 2rem;
  text-align: center;
  background: #e9e8e4;
  line-height: 1;
  max-width: 16rem;
  margin-right: auto;
	margin-left: auto;
	margin-top: 0;
	padding: 0;
}
#location {
	flex-basis: 66.666%;
	background: url('../_images/exterior.jpg');
	background-size: cover;
	background-position: center;
	min-height: 300px;
}
#bishops-list {
	flex-basis: 66.666%;
	background-color: #3a414c;
	color: #e9e8e4;
}
#bishops-list h2 {
	color: #e9e8e4;
	border-bottom-color: #e9ca52;
}
#bishops-list ul.list-square li:before {
	color: #e9ca52;
}
#bishops-photo img {
	height: 100%;
	object-fit: cover;
}
ul.list-square {
	list-style: none;
	-webkit-padding-start: 0;
	text-align: center;
	font-size: 1.4rem;
	margin-top: 3rem;
	max-width: 22rem;
	margin: 1rem auto .4rem;
}
ul.list-square li:not(:first-of-type):before {
	content: "\025AA";
  display: block;
}

#home #hero {
	background: linear-gradient(
		rgba(58, 65, 76, .85),
		rgba(58, 65, 76, .9)
		), url('../_images/hero-home.jpg');
	background-size: cover;
	background-position: center;
}
/*New Years*/
#new-years #hero {
	background: linear-gradient(
      rgba(32,152,183, .7),
      rgba(32,152,183, .75)
    ), url('../_images/new-years/new-years-hero.jpg');
    background-size: cover;
	background-position: center;
}
#new-years .owl-stage {
	background-color: black;
}
/*About us*/
#about #hero {
	background: linear-gradient(
		rgba(233, 127, 82, .7),
		rgba(233, 127, 82, .75)
    ), url('../_images/about/about-hero.jpg');
    background-size: cover;
	background-position: center;
}
.panel table {
	border-collapse: collapse;
	line-height: 1.1;
	font-size: 1.2rem;
}
.panel td:nth-of-type(odd) {
	padding-right: 1.6rem;
}
.panel tr:not(:last-of-type) {
	border-bottom: 2px solid #3a414c;
}
.panel td {
	padding: 1rem 0 .4rem;
}
form > * {
	display: block;
}
label {
	font-size: 1.4rem;
	margin-top: 1rem;
	margin-bottom: .4rem;
}
input[type="email"], input[type="text"], textarea {
	width: 100%;
	font-size: 1.2rem;
	background-color: rgba(0,0,0, .1);
  border: transparent;
  border-bottom: 2px solid #e9e8e4;
	padding: .4rem .2rem;
	color: #e9e8e4;
	font-family: 'Vollkorn', serif;
}
input[type="submit"] {
	margin: 1rem 0 .2rem auto;
}
.paypal-button input[type="submit"] {
	margin: 1rem auto .2rem auto;
}
textarea {
	height: 180px;
}
/*Building*/
#building #hero {
	background: linear-gradient(
      rgba(58, 65, 76, .7),
      rgba(58, 65, 76, .75)
    ), url('../_images/building/sanctuary-facing-seats.jpg');
    background-size: cover;
	background-position: center;
}
.blueprints {
	width: 50%;
}

/*Homecoming*/
/*#homecoming #hero {
	background: linear-gradient(
		rgba(153, 41, 233, .85),
		rgba(153, 41, 233, .9)
		), url('../_images/homecoming/hero-homecoming.jpg');
	background-size: cover;
	background-position: center;
}*/
#homecoming #hero {
	background-image: url('../_images/homecoming/title.jpg');
	background-size: cover;
	background-position: center;
}
.blurb {
	text-align: center;
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 1;
}
.date {
	text-align: center;
	font-size: 3rem;
}

.store-header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 1rem 0;
}
.store-header > * + * {
	padding-left: .5rem;
}
.store strong {
	text-align: center;
	font-size: 1.4rem;
	display: block;
	margin-bottom: 1rem;
}
#panel2.panel .store-header a {
	text-decoration: none;
	display: flex;
	box-shadow: none;
}
#panel2.panel .store-header a:hover {
	background-color: transparent;
}
.snipcart-summary-empty > * {
	width: 0;
	overflow: hidden;
}
.snipcart-total-price {
	font-size: 1.4rem;
}
img.cart {
	width: 30px;
}
.snipcart-total-items {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #3a414c;
	color: #e9ca52;
	display: flex;
	justify-content: center;
	align-items: center;
}
.store h3 {
	font-size: 1.4rem;
	line-height: 1.2;
	background-color: #3a414c;
	color: #e9ca52;
	position: relative;
	border-top: transparent !important;
	border-bottom: transparent !important;
}
.store h3:before {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: transparent;
	left: 0;
	top: -4px;
	border-top: 2px solid #3a414c;
	border-bottom: 2px solid #3a414c;
	padding-top: 2px;
	padding-bottom: 2px;
}
.store-items {
	padding: 0;
	list-style: none;
	display: flex;
  justify-content: space-between;
	flex-wrap: wrap;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
	grid-gap: 40px;
}
.store-items li {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	border: 2px solid #3a414c;
}
.store-item-actions {
	display: flex;
	justify-content: center;
}
.store-item-actions button::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	border: 2px solid #3a414c;
	left: -4px;
	top: -4px;
	border-radius: 23px;
	padding: 2px;
}
.store-item-actions button {
	color: #e9ca52;
	background-color: #3a414c;
	border: transparent;
	position: relative;
	font-size: 1.2rem;
}
.store-item-actions button:hover {
	background-color: #5a6576;
}
.store-item-actions button:hover::before {
	border: 2px #5a6576 dashed;
}
.lnr {
	margin: 1rem;
	fill: #3a414c;
}
p.price {
	font-weight: bold;
	font-size: 2rem;
}

/*Modal styles*/
.invisible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.hidden {
	display: none;
}
#js-modal-page {
	width: 100%;
}
#js-modal-page[aria-hidden='true'] {
	display: block;
}
/* needed for old browsers */
dialog {
  display: block;
}
dialog button {
	float: right;
	margin: 0;
	font-size: 1rem;
	padding: .5rem;
	background-color: transparent;
	color: #e9ca52;
	border-color: #e9ca52;
}
dialog button:hover {
	background-color: transparent;
	color: #e9ca52;
	border: 3px dashed #e9ca52;
}

/* removes scroll when modal is opened */
.no-scroll {
  overflow: hidden;
}
/* overlay covers everything */
.modal-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0, 0, 0, .5);
	z-index: 666;
	cursor: pointer;
}
/* modal */
.modal {
  position: fixed;
  left: 25%;
  right: auto;
  top: 5vh;
  width: 50%;
	background: #3a414c;
	color: #e9ca52;
	z-index: 667;
	max-height: 85vh;
	overflow-y: auto;
}

.owl-nav {
	position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.owl-dots {
	position: absolute;
  bottom: 2px;
	left: 10%;
  width: 80%;
}
.owl-theme .owl-nav [class*=owl-] {
	color: #3a414c;
	background-color: #e9ca52;
}

@media screen and (max-width: 1000px) {
	#site-header > div {
		flex-direction: column;
		align-items: center;
	}
	#hero h1 {
		margin-top: 200px;
	}
}

@media screen and (max-width: 700px) {
	#site-header {
		position: initial;
		background-color: #3a414c;
	}
	#site-header nav {
		width: 100%;
		border-bottom: transparent;
	}
	#site-header ul {
    display: grid;
    justify-items: center;
    flex: 1;
		grid-template-columns: repeat(auto-fill, minmax(10rem,1fr));
	}
	#hero {
		min-height: 70vh;
	}
	#hero h1 {
		margin-top: 1rem;
	}
	h1 {
		font-size: 3rem;
	}
	.sub-title {
		font-size: 1.4rem;
	}
	.reference {
		font-size: 1rem;
	}
	main > div, main > iframe {
		flex-basis: 100%;
	}
	.info-box {
		flex-basis: 100%;
	}
	.panel h2 {
		display: block;
	}
	.panel tr {
		display: flex;
		flex-direction: column;
		padding: .8rem 0;
	}
	.panel td {
		padding: 0;
	}
	.panel td:nth-of-type(odd) {
		font-weight: bold;
		padding-bottom: .4rem;
	}
	.blueprints {
		width: 90%;
	}
}

@media screen and (max-width: 450px) {
	.owl-nav {
		bottom: 50%;
	}
}

.tablink[aria-selected='true'] {
	border-top: 4px solid #e9e8e4;
}
	
div[aria-hidden='true'] {
	display: none;
}

.tablink {
	text-decoration: none;
	border-top: 4px solid transparent;
}

.panel iframe {
	max-width: 100%;
}