* {
	-webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
img {
	max-width: 100%;
	width: 100%;
}
body {
	margin: 0;
	font-family: 'Vollkorn', serif;
	/*background: linear-gradient(
      rgba(47,89,120, .8),
      rgba(47,89,120, .8)
    ), url(../_images/pixel-weave.png);*/
	display: flex;
	flex-wrap: wrap;
}
h2 {
  text-align: center;
  font-size: 2.4rem;
  margin-top: 1rem;
  margin-bottom: .6rem;
  color: #3a414c;
}
button {
	background-color: #e9ca52;
  border-radius: 20px;
  border: 3px solid #3a414c;
  font-size: 1.6rem;
  padding: .2rem 1rem;
  font-family: 'Vollkorn', serif;
  font-weight: bold;
  color: #3a414c;
}
main {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
main > div, main > iframe {
	flex: 1;
	flex-basis: 33.333%;
}
#site-header {
	display: flex;
	position: absolute;
  width: 100%;
}
#site-header .logo {
	flex-basis: 20%;
	margin: 1rem;
}
#hero {
	flex-basis: 100%;
	height: 100vh;
	background: linear-gradient(
      rgba(32,152,183, .6),
      rgba(32,152,183, .6)
    ), url('../_images/hero-home.jpg');
	background-size: cover;
	background-position: center;
}
.overlay {
  position: absolute;
  right: 0;
  bottom: 0;
  width: auto;
  margin: 2rem;
  padding: 1rem;
  text-align: center;
  background-color: rgba(233,232,228,.8);
  color: #3a414c;
  border-radius: 3px;
}
.overlay p {
	max-width: 20rem;
  margin-top: .8rem;
  font-size: 1.2rem;
  margin-bottom: .8rem;
}
.overlay strong {
	font-size: 2rem;
	line-height: 1.15;
}
#services {
	flex-basis: 100%;
	background-color: #e9e8e4;
}
#services table {
	width: 100%;
	margin-bottom: 4rem;
  margin-top: 3rem;
}
#services tbody {
	display: flex;
	justify-content: space-around;
}
#services tr {
	flex-basis: 33.333%;
}
#services td {
	display: block;
	color: #3a414c;
	text-align: center;
}
#services td > div {
  width: 100%;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('../_images/circle.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#services p {
	width: 80%;
	max-width: 16rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: .6rem;
	font-size: 1.2rem;
  line-height: 1.2;
}
#services h3 {
	font-size: 2rem;
  text-align: center;
  background: #e9e8e4;
  line-height: 1;
  max-width: 16rem;
  margin-right: auto;
  margin-left: auto;
}
#location {
	flex-basis: 66.666%;
	background: url('../_images/exterior.jpg');
	background-size: cover;
	background-position: center;
}
#bishops-list {
	flex-basis: 66.666%;
	background-color: #3a414c;
	color: #e9e8e4;
}
#bishops-list h2 {
	color: #e9e8e4;
}
#bishops-list ul {
	list-style: none;
	-webkit-padding-start: 0;
	text-align: center;
	font-size: 1.4rem;
	margin-top: 3rem;
}
#bishops-list li:not(:first-of-type):before {
	content: "\025AA";
  display: block;
}